<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
{% include "head.njk" %}
</head>
<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>

{% include "header.njk" %}

{{ content | safe }}

{% include "footer.njk" %}

{% if pageScripts %}{% for src in pageScripts %}<script src="{{ src }}"></script>
{% endfor %}{% endif %}
<!-- Cloudflare Web Analytics -->
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token": "8b4adcf34ffa4adfb75712c970ed7e64"}'></script>
</body>
</html>
